<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Xử lý ảnh</h1>
    <p class="font-large">Họ tên: <strong>Trần Minh Nghĩa</strong></p>
    <p class="font-large">Mã sinh viên: <strong>B20DCCN471</strong></p>
    <p class="font-large">Github: <a href="https://github.com/MinhNghiaTran01/Image_Preprocessing" style="text-decoration: underline;">https://github.com/MinhNghiaTran01/Image_Preprocessing</a></p>
    <div class="main">
      <nav>
        <ul>
          <li><a href="{{ url_for('grayscale') }}">1.Lọc xám</a></li>
          <li><a href="{{ url_for('negative') }}">2.Lọc âm bản</a></li>
          <li><a href="{{ url_for('mean_filtering') }}">3.Lọc trung bình</a></li>
          <li><a href="{{ url_for('median_filtering') }}">4.Lọc trung vị</a></li>
          <li><a href="{{ url_for('gaussian') }}">5.Thuật toán Gaussian</a></li>
          <li><a href="{{ url_for('laplacian') }}">6.Thuật toán Laplacian</a></li>
          <li><a href="{{ url_for('prewitt') }}">7.Thuật toán Prewitt</a></li>
          <li><a href="{{ url_for('threshold') }}">8.Thuật toán Threshold</a></li>
          <li><a href="{{ url_for('sobel') }}">9.Thuật toán Sobel</a></li>
          <li><a href="{{ url_for('histogram') }}">10.Thuật toán histogram</a></li>
          <li><a href="{{ url_for('weighted_average') }}">11.Thuật toán weighted_average</a></li> 
          <li><a href="{{ url_for('knn_average') }}">12.Thuật toán knn_average</a></li>
          <li><a href="{{ url_for('roberts') }}">13.Thuật toán roberts</a></li>
          <li><a href="{{ url_for('canny') }}">14.Thuật toán canny</a></li>
           <li><a href="{{ url_for('otsu') }}">15.Thuật toán otsu</a></li>
          <li><a href="{{ url_for('dilation') }}">16.Thuật toán dilation</a></li>
          <li><a href="{{ url_for('opening') }}">17.Thuật toán opening</a></li> 
          <li><a href="{{ url_for('closing') }}">18.Thuật toán closing</a></li>  
          <li><a href="{{ url_for('logarithm') }}">19.Thuật toán logarithm</a></li>
          <li><a href="{{ url_for('gamma') }}">20.Thuật toán gamma</a></li>
          <li><a href="{{ url_for('balance') }}">21.Thuật toán balance</a></li>
        </ul>
      </nav>
      <div class="flex flex-column">
        <h1 class="mb-4 text-center title" style="border:none">{{title}}</h1>
        <div class="mt-4" style="font-size: 16px; margin-top: 30px; margin-bottom: 30px; border: none; text-align: center;">
          <p>Thuật toán: <strong>{{algorithm}}</strong></p>
          <p style="font-size: 15px; line-height: 1.4;">{{purpose}}</p>
        </div>
        <div class="flex gap-4" style="border: none; justify-content: space-evenly;">
          <div style="border: none;">
            <h3 style="text-align: center; margin-bottom: 20px;">Ảnh cũ</h3>
            <img src="{{defaultImg}}" />
          </div>
          <div>
            <h3 style="text-align: center; margin-bottom: 20px;">Ảnh mới</h3>
            <img
              src="data:image/png;base64,{{ img_data }}"
              alt="Processed Image"
            />
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
